@media screen
{
  BODY
  {
    width:  100%;
    height:  100%;
    overflow:  auto;
  }
}

DIV#Menu
{
  position:  absolute;
  height:  100%;
  padding-top:  0px;
  padding-bottom:  0px;
}

HTML
{
  overflow:  hidden;
}